body {
  background: url('../img/food.jpg') no-repeat center center fixed;
  background-size: cover;
  padding-top: 12em;
}

.container {
  background-color: rgba(100, 170, 76, 0.7);
  padding: 2em;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.recipe {
  background: #e0f8e0;
  padding: 0.5em;
  font: 1em Arial, Helvetica, sans-serif;
  margin-bottom: 1em;
}

.recipe .label {
  font-weight: bold;
}
