* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
  text-size-adjust: 100%;
}

body {
  font-family: var(--ga-sans-serif);
}

p,
li {
  line-height: 1.5;
  max-width: 80ch;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ga-sans-serif);
  margin-top: 0;
  font-weight: 700;
}

a {
  color: var(--ga-red);
  text-decoration: underline;
}

img {
  display: block;
  height: auto;
  width: 100%;
  object-fit: contain;
}

p {
  margin-top: 0;
}

kbd {
  display: inline-block;
  padding: 0.183rem 0.31rem;
  line-height: normal;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 0.0625rem solid #d1d5da;
  border-radius: 0.183rem;
  box-shadow: inset 0 -0.183rem 0 #d1d5da;
}
