.align-left {
  text-align: start;
}

.image-one-fourth {
  display: block;
  margin: 0 auto;
  max-width: 25%;
}

.image-third {
  display: block;
  margin: 0 auto;
  max-width: 33.33%;
}

.image-half {
  display: block;
  margin: 0 auto;
  max-width: 50%;
}

.image-two-thirds {
  display: block;
  margin: 0 auto;
  max-width: 66.66%;
}

.image-three-fourths {
  display: block;
  margin: 0 auto;
  max-width: 75%;
}

.table table {
  border: 1px solid;
  border-collapse: collapse;
}

.table table tr:not(:last-child) td,
.table table tr th {
  border-bottom: 1px solid;
}

.table table tr td:not(:last-child),
.table table tr th:not(:last-child) {
  border-right: 1px solid;
}

.table table td,
.table table th {
  padding: 0.25em 0.5em;
  text-align: start;
}

.row {
  display: flex;
}

.row > * {
  margin: 0 10px;
  flex: 1;
}

.fullscreen {
  align-content: center;
  bottom: 0;
  color: var(--white);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}

.bg-red {
  background-color: var(--red);
}

.bg-black {
  background-color: var(--black);
}

.bg-teal {
  background-color: var(--ga-teal);
}
.bg-teal a {
  color: var(--white);
}

.bg-burgundy {
  background-color: var(--ga-burgundy);
}

.bg-yellow {
  background-color: var(--ga-yellow);
  color: var(--black);
}

.bg-pink {
  background-color: var(--ga-pink);
  color: var(--black);
}

.bg-white {
  color: var(--black);
}

.center.middle {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 100%;
}

.center.middle > * {
  flex: 1 1 auto;
}

.logo {
  display: block;
  max-width: 33%;
  margin: 0 auto;
}
