.remark-container {
  .align-left {
    text-align: start;
  }

  .align-center {
    text-align: center;
  }

  .image-one-fourth {
    display: block;
    margin: 0 auto;
    max-width: 25%;
  }

  .image-one-fourth--align-left {
    display: block;
    margin: 0;
    max-width: 25%;
  }

  .image-third {
    display: block;
    margin: 0 auto;
    max-width: 33.33%;
  }

  .image-half {
    display: block;
    margin: 0 auto;
    max-width: 50%;
  }

  .image-two-thirds {
    display: block;
    margin: 0 auto;
    max-width: 66.66%;
  }

  .image-three-fourths {
    display: block;
    margin: 0 auto;
    max-width: 75%;
  }

  .row {
    display: flex;
    overflow: scroll;
  }

  .row > * {
    margin: 0 10px;
    flex: 1;
  }

  .row--five-columns {
    display: flex;
    flex-wrap: wrap;
  }

  .row--five-columns > * {
    flex: 1;
    flex-basis: 25%;
  }

  .fullscreen {
    align-content: center;
    bottom: 0;
    color: var(--white);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
  }

  .bg-red {
    background-color: var(--red);
  }

  .bg-black {
    background-color: var(--black);
  }

  .bg-teal {
    background-color: var(--ga-teal);
  }
  .bg-teal a {
    color: var(--white);
  }

  .bg-burgundy {
    background-color: var(--ga-burgundy);
  }

  .bg-yellow {
    background-color: var(--ga-yellow);
    color: var(--black);
  }

  .bg-pink {
    background-color: var(--ga-pink);
    color: var(--black);
  }

  .bg-white {
    color: var(--black);
  }

  .logo {
    display: block;
    max-width: 33%;
    margin: 0 auto;
  }

  .frontpage {
    background-color: var(--ga-red);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 235.293 223.529'%3E%3Cdefs%3E%3CclipPath id='a' clipPathUnits='userSpaceOnUse'%3E%3Cpath d='M0 167.647h176.47V0H0Z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)' transform='matrix(1.33333 0 0 -1.33333 0 223.53)'%3E%3Cpath fill='%23fff' d='m109.615 42.054-2.533 19.494h-6.7l-2.53-19.494h-11.76l10.782 80.2h13.558l10.86-80.2ZM83.429 95.788h-11.11v12.11c0 .377-.052.823-.16 1.338a4.389 4.389 0 0 1-.558 1.419 3.54 3.54 0 0 1-1.08 1.094c-.45.297-1.052.447-1.798.447-.055 0-.106-.01-.162-.015v.015c-.745 0-1.344-.15-1.796-.447a3.53 3.53 0 0 1-1.08-1.094 4.438 4.438 0 0 1-.561-1.42 6.762 6.762 0 0 1-.158-1.337V55.357c0-.758.184-1.49.559-2.19.37-.703 1.248-1.054 2.634-1.054 1.06 0 1.939.282 2.63.85.69.569 1.039 1.31 1.039 2.233v15.169H68.07v9.649h14.863V55.763c0-4.652-1.251-8.182-3.757-10.586-2.503-2.407-6.043-3.61-10.618-3.61-5.118 0-8.848 1.189-11.19 3.569-2.34 2.38-3.51 5.947-3.51 10.708v52.054c0 4.487 1.267 8.08 3.798 10.787 2.532 2.703 6.192 4.057 10.986 4.057h.003c4.79 0 8.452-1.354 10.985-4.057 2.53-2.706 3.799-6.3 3.799-10.787zm69.315-13.636c-.006 2.735 2.23 4.95 4.982 4.954a68.52 68.52 0 0 1-1.071 8.163l-.01-.003c-2.66-.708-5.393.859-6.104 3.502-.715 2.64.865 5.353 3.523 6.062l.016.005a68.099 68.099 0 0 1-3.174 7.609l-.012-.01c-2.386-1.365-5.434-.553-6.811 1.814-1.378 2.366-.562 5.395 1.826 6.765l.003.002a69.026 69.026 0 0 1-5.048 6.528l-.002-.002a5.012 5.012 0 0 0-7.05 0 4.93 4.93 0 0 0-.002 7.005h.002a69.827 69.827 0 0 1-6.574 5.016l-.003-.007c-1.378-2.37-4.426-3.18-6.807-1.812a4.934 4.934 0 0 0-1.827 6.766l.006.01a69.362 69.362 0 0 1-7.66 3.153l-.001-.015c-.715-2.642-3.45-4.207-6.107-3.501-2.661.705-4.24 3.422-3.527 6.064l.003.008c-2.69.513-5.43.873-8.221 1.068 0-2.736-2.231-4.951-4.983-4.951-2.754 0-4.985 2.215-4.985 4.95a69.792 69.792 0 0 1-8.22-1.067v-.008c.715-2.64-.864-5.356-3.522-6.062-2.663-.708-5.395.859-6.11 3.499v.016a69.738 69.738 0 0 1-7.665-3.153l.009-.011a4.935 4.935 0 0 0-1.824-6.766c-2.384-1.367-5.434-.557-6.81 1.814l-.002.006a70.034 70.034 0 0 1-6.576-5.017 4.924 4.924 0 0 0 .002-7.002 5.008 5.008 0 0 0-7.05-.001l-.003.003a69.63 69.63 0 0 1-5.05-6.531l.006-.002a4.93 4.93 0 0 0 1.825-6.762c-1.376-2.37-4.424-3.182-6.81-1.813l-.013.008a68.979 68.979 0 0 1-3.175-7.611l.014-.002c2.66-.71 4.238-3.423 3.528-6.063-.711-2.643-3.446-4.21-6.107-3.501h-.006a68.441 68.441 0 0 1-1.074-8.163c2.752 0 4.98-2.216 4.98-4.95.004-2.735-2.227-4.952-4.98-4.952a68.88 68.88 0 0 1 1.072-8.163h.008c2.658.71 5.394-.86 6.104-3.498.713-2.641-.864-5.357-3.525-6.065l-.014-.005a68.878 68.878 0 0 1 3.174-7.607l.01.006c2.387 1.369 5.438.556 6.813-1.811a4.932 4.932 0 0 0-1.824-6.764l-.005-.005a69.125 69.125 0 0 1 5.049-6.525 5.01 5.01 0 0 0 7.05 0 4.924 4.924 0 0 0 0-7.003v-.002a69.869 69.869 0 0 1 6.572-5.014l.005.003c1.378 2.369 4.427 3.182 6.809 1.816a4.935 4.935 0 0 0 1.827-6.765l-.01-.012a69.29 69.29 0 0 1 7.662-3.154l.004.017c.715 2.64 3.447 4.207 6.105 3.5 2.66-.708 4.24-3.423 3.528-6.064l-.003-.01a70.269 70.269 0 0 1 8.219-1.065c0 2.736 2.233 4.95 4.984 4.949 2.754.002 4.987-2.213 4.987-4.946v-.003c2.789.194 5.53.555 8.218 1.065l-.001.007c-.712 2.644.865 5.359 3.525 6.065 2.659.709 5.392-.86 6.106-3.498l.006-.018a69.506 69.506 0 0 1 7.658 3.152l-.006.014a4.932 4.932 0 0 0 1.823 6.763c2.384 1.367 5.434.556 6.812-1.813l.003-.005a69.452 69.452 0 0 1 6.572 5.015 4.925 4.925 0 0 0 0 7 5.007 5.007 0 0 0 7.05.006l.002-.005a69.876 69.876 0 0 1 5.05 6.529l-.005.004c-2.386 1.369-3.202 4.396-1.824 6.762 1.374 2.369 4.424 3.18 6.809 1.815l.01-.01a68.401 68.401 0 0 1 3.178 7.608l-.016.006c-2.66.71-4.238 3.423-3.525 6.062.71 2.644 3.446 4.21 6.105 3.503l.01-.002c.514 2.67.877 5.394 1.072 8.16-2.752.005-4.988 2.22-4.982 4.953'/%3E%3Cpath fill='%23fff' d='M103.695 80.684c-2.692 0-4.88-2.168-4.88-4.843s2.188-4.844 4.88-4.844c2.69 0 4.877 2.169 4.877 4.844 0 2.675-2.186 4.844-4.877 4.844'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: bottom right;
    background-size: 12.5%;
    color: var(--white);
    position: relative;
    height: 100%;

    .slide-navigation {
      color: var(--white);
      text-decoration-color: var(--white);

      &:focus,
      &:hover,
      &:active {
        color: var(--black);
        text-decoration-color: var(--black);
      }
    }

    div {
      max-width: 70%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
    }

    h2 {
      margin-bottom: 1rem;
    }

    hr {
      height: 1rem;
      width: 10%;
      background-color: var(--white);
      border: 1px solid white;
      margin: 0;
    }

    h1 {
      margin-top: 1rem;
    }
  }

  .lab {
    background-color: var(--ga-yellow);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='enable-background:new 0 0 128 128' viewBox='0 0 128 128' xml:space='preserve'%3E%3ClinearGradient id='a' x1='91.828' x2='-2.671' y1='89.953' y2='-4.547' gradientTransform='matrix(-1 0 0 1 129.766 0)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.234' style='stop-color:%23e6e6e6'/%3E%3Cstop offset='.434' style='stop-color:%23e2e5e6'/%3E%3Cstop offset='.625' style='stop-color:%23d7e0e5'/%3E%3Cstop offset='.812' style='stop-color:%23c3d9e4'/%3E%3Cstop offset='.996' style='stop-color:%23a9cee3'/%3E%3Cstop offset='1' style='stop-color:%23a8cee3'/%3E%3C/linearGradient%3E%3Cpath d='m13.25 90.94 74.1-74.1c.12-.12.21-.28.32-.46.79-1.34.87-2.63.74-4.33-.21-2.88.47-4.44 1.86-5.49 1.85-1.38 8.24-1.1 20.2 10.86s12.24 18.34 10.86 20.19c-1.04 1.4-2.6 2.07-5.49 1.86-1.7-.12-2.99-.05-4.33.74-.18.11-.35.2-.46.32l-74.1 74.1c-10.18 10.18-19.9 8.63-26.07 2.46l-.04-.04-.04-.04c-6.18-6.17-7.73-15.89 2.45-26.07z' style='fill:url(%23a)'/%3E%3CradialGradient id='b' cx='32.271' cy='32.094' r='36.438' gradientTransform='matrix(-.6958 -.7182 -.2981 .2888 129.518 46.002)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.299' style='stop-color:%235cbae6;stop-opacity:0'/%3E%3Cstop offset='.679' style='stop-color:%235cbae6'/%3E%3Cstop offset='.957' style='stop-color:%235cbae6;stop-opacity:0'/%3E%3C/radialGradient%3E%3Cpath d='M101.53 26.36c-5.86-5.86-10.37-8.91-13.68-10.34.61-1.22.67-2.43.56-3.97-.06-.88-.04-1.63.06-2.28 3.06-.09 8.98 2.17 18.23 11.43 9.25 9.25 11.51 15.17 11.42 18.23-.66.1-1.4.12-2.28.06-1.55-.11-2.76-.05-3.97.56-1.43-3.32-4.48-7.83-10.34-13.69z' style='opacity:.23;fill:url(%23b)'/%3E%3ClinearGradient id='c' x1='52.793' x2='84.405' y1='49.165' y2='49.165' gradientTransform='rotate(-134.999 66.666 63.451)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' style='stop-color:%234caf50'/%3E%3Cstop offset='.693' style='stop-color:%23a4e849'/%3E%3Cstop offset='.76' style='stop-color:%239cde47'/%3E%3Cstop offset='.873' style='stop-color:%2386c441'/%3E%3Cstop offset='1' style='stop-color:%23689f38'/%3E%3C/linearGradient%3E%3Cpath d='M61.57 44.24 14.8 91.03c-9.88 9.87-8.63 19.1-2.89 24.84 5.74 5.73 14.95 7.01 24.85-2.89l73.11-73.11-48.3 4.37z' style='fill:url(%23c)'/%3E%3Cpath d='m14.19 99.35 74.84-74.84a1.611 1.611 0 1 1 2.28 2.28l-74.84 74.84c-.63.63-1.65.63-2.28 0a1.63 1.63 0 0 1 0-2.28z' style='opacity:.55;fill:%23fff;enable-background:new'/%3E%3Ccircle cx='86.84' cy='51.58' r='4.54' style='opacity:.69;fill:%23fff;enable-background:new'/%3E%3Ccircle cx='96.32' cy='31.06' r='4.54' style='fill:%239ccc65'/%3E%3Ccircle cx='74.08' cy='57.01' r='2.2' style='opacity:.69;fill:%23fff;enable-background:new'/%3E%3Ccircle cx='111.4' cy='10.52' r='4.44' style='fill:%239ccc65'/%3E%3Ccircle cx='121.82' cy='12.89' r='2.07' style='fill:%239ccc65'/%3E%3Ccircle cx='60.52' cy='70.95' r='3.81' style='opacity:.69;fill:%23fff;enable-background:new'/%3E%3Ccircle cx='66.44' cy='60.62' r='1.47' style='opacity:.69;fill:%23fff;enable-background:new'/%3E%3C/svg%3E");
    background-size: 15%;
    background-position: calc(100% - 1.25rem) 100%;
  }

  .code-along {
    background-color: var(--ga-teal);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 128 128'%3E%3ClinearGradient id='a' x1='63.95' x2='63.95' y1='-14.842' y2='4.029' gradientTransform='matrix(1 0 0 -1 0 89.233)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23e0e0e0'/%3E%3Cstop offset='1' stop-color='%239e9e9e'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23a)' d='M112.6 85.1H15.2L4 104.1h119.9z'/%3E%3Cpath fill='%23424242' d='M19.1 82.4h89.6l11.7 19.7H7.5l11.6-19.7m-1.2-2L4 104.1h119.9l-14.1-23.7H17.9z' opacity='.2'/%3E%3Cpath fill='%23f5f5f5' d='M26.8 88h-6.4l.8-1.7h6.5zm10.1 0h-6.5l.8-1.7h6.6zm9.6 0H40l.9-1.7h6.5zm9.5 0h-6.4l1-1.7h6zm9.4 0H59l.5-1.7h5.4zm9.6 0h-6.4l-.8-1.7h6.1zm9.8 0h-6.4l-1.2-1.7h6.4zm9.5 0h-6.4l-1.2-1.7h6.5zm12.9 0h-9.6l-1.3-1.7h10zm-4.9 2.5h6.4l-1.1-1.6h-6.5zm-10.5 0h6.4L97 88.9h-6.5zm-9.6 0h6.4l-1.1-1.6h-6.4zm-10.4 0h6.5l-1.2-1.6h-6zm-9.2 0h6.5l-.8-1.6h-5.4zm-9.2 0h6.4l.4-1.6H54zm-10.1 0h6.4l.8-1.6h-6.2zm-11.2 0h6.4l1-1.6h-6.4zm-13.2 0h9.7l1-1.6h-9.7zm61 2.6h6.5l-1.1-1.7h-6.5zm-10.2 0h6.4l-.9-1.7h-6zm-12.1 0H64l-.2-1.7h-5.7zm-11.5 0h6.4l.6-1.7h-6.2zm-12.2 0h6.5l1-1.7H35zm-16.2 0h12.8l1.1-1.7h-13zm73.1 0h19.3l-1.1-1.8H89.7zm14.7 2.5h6.4l-1.3-1.7h-6.4zm-12 0h6.4l-1.2-1.7h-6.5zm-51.4 0h43.8l-1-1.7H43.1zm-13.7 0h6.4l.8-1.7h-6.3zm-12.3 0h6.4l.8-1.7H17zm25.3 4.4h44.8l-1.9-3.5h-41z'/%3E%3Cpath fill='%239e9e9e' d='M121.7 108.1H6.1c-1.2 0-2.1-1-2.1-2.1v-1.8h119.9v1.8c0 1.1-1 2.1-2.2 2.1z'/%3E%3Cpath fill='%23424242' d='M122.9 105.1v.8c0 .6-.5 1.1-1.1 1.1H6.1c-.6 0-1.1-.5-1.1-1.1v-.8h117.9m1-1H4v1.8c0 1.2 1 2.1 2.1 2.1h115.6c1.2 0 2.1-1 2.1-2.1v-1.8h.1z' opacity='.2'/%3E%3ClinearGradient id='b' x1='63.9' x2='63.9' y1='734.003' y2='798.561' gradientTransform='translate(0 -713.89)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.006' stop-color='%23e0e0e0'/%3E%3Cstop offset='.999' stop-color='%239e9e9e'/%3E%3C/linearGradient%3E%3Cpath fill='url(%23b)' d='M112.6 85.1H15.2V22.8c0-1.6 1.3-2.8 2.8-2.8h91.7c1.6 0 2.8 1.3 2.8 2.8l.1 62.3z'/%3E%3Cpath fill='%23424242' d='M109.7 22c.5 0 .8.4.8.8v60.3H17.2V22.8c0-.5.4-.8.8-.8h91.7m0-2H18c-1.6 0-2.8 1.3-2.8 2.8v62.3h97.4V22.8c0-1.6-1.3-2.8-2.9-2.8z' opacity='.2'/%3E%3Cpath fill='%23616161' d='M24 27.2h79.7v49.9H24z'/%3E%3C/svg%3E%0A");
    background-size: 15%;
    background-position: calc(100% - 1.25rem) 100%;
    color: var(--white);
  }
}
