* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.thing-to-spin {
  /* your code here */
}
